/* Style sheet. Most of the styles here are devoted to the layout of the bottom,
always-showing section of the commboard. This contains the text buffer, camera
feed, date and time, and controls to change the scan speed and restart the
program. The rest of the layout is straightforward. */

/* Document-level classes and styles */
html, body { /* Body takes up full window */
  height: 100%;
  margin: 0px auto;
  padding: 0px auto;
  overflow-y:  visible;
}
#wrapper { /* Wrapper takes up full window */
  width: 100%
  height: 100%;
  overflow-y: scroll;
}
h1 {
  font-family: Arial,Helvetica,sans-serif;
  color: firebrick;
  margin: 5px;
}
.container { /* Containers centered within wrapper div */
  width: 97.5%;
  margin-left: auto;
  margin-right: auto;
}
.floatRight {
  float: right;
}
.singleRowMenu {
  height: 125px;
}

/* Table styling. Tables serve as containers for buttons. */
table {
  table-layout: fixed; /* All buttons have same width */
  width: 100%; /* Table fills element */
}
td {
  padding: 3px; /* Space between buttons */
  height: 60px;
}

/* Button styling */
input[type=button] { /* Input buttons. */
  width: 100%; /* Fill bounding <td> element. */
  height: 100%;
  font-family: 'trebuchet ms',helvetica,sans-serif;
  font-size: 150%;
  font-weight: bold;
}
.buttonOn { /* Active button. */
  color: darkred;
  border-color: yellow;
  background-color: yellow;
}
.buttonOff { /* Inactive button. */
  color: darkblue;
  border-color: ghostwhite;
  background-color: ghostwhite;
}

/* Styling and layout for specific elements.  */
#compose { /* Compose text. */
  height: 550px;
}
/* Utility elements at bottom of page. */
#util { /* Container for all util elements. */
  position: relative;
  height: 400px;
}
/* Text buffer. Side-by-side with settings. */
#buffer { /* Layout. */
  position: absolute;
  left: 0;
  width: 60%;
  height: 100%;
  color: black;
  font-size: 150%;
}
#bufferText { /* Text element. */
  top: 0;
  margin-top: 0%;
  margin-right: 5%;
}
/* Settings. Holds the camera, clock, slider, and reset button. Side-by-side
with text. */
#settings {
  float: right;
  width: 40%;
  height: 100%;
}
/* Camera. Above the rest of the settings elements. */
#camContainer { /* Layout. */
  height: 60%
}
#cam { /* Camera feed. */
  float: right;
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-color: darkGreen;
  border-radius: 10px;
}
/* Sub-settings. The clock, slider, and reset. Below the camera. */
#subSettings {
  height: 40%;
}
/* The clock. */
#clockContainer {
  height: 35%;
  width: 100%;
  color: royalblue;
  font-family: 'trebuchet ms',helvetica,sans-serif;
  font-size: 150%;
  font-weight: bold;
}
/* Controls. Below the clock. */
#controls {
  position: relative;
  height: 65%;
  width: 100%;
}
/* Slider. On the left. */
#sliderContainer { /* Layout */
  position: absolute;
  left: 0%;
  width: 50%;
  height: 100%
}
#slider { /* The slider itself */
  width: 100%;
}
#sliderValue { /* Its value. */
  color: gray;
  font-family: 'trebuchet ms',helvetica,sans-serif;
  font-weight: bold;
}
/* Reset button. On the right. */
#buttonContainer { /* Layout. */
  position: absolute;
  left: 60%;
  width: 40%;
  height: 100%;
}
#buttonContainer td {
  padding: 3px; /* Space between buttons */
  height: 45px;
}
.settingsButton { /* The button. */
  color: firebrick;
  border-color: ghostwhite;
  background-color: ghostwhite;
}
