/* Style sheet. Most of the styles here are devoted to the layout of the bottom,
   always-showing section of the commboard. This contains the text buffer,
   camera feed, date and time, and controls to change the scan speed and restart
   the program. The rest of the layout is straightforward. */

:root {
  /* Use Solarized colors, from here: http://ethanschoonover.com/solarized */
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;
}

/* Document-level classes and styles */
html, body { /* Body takes up full window */
  height: 100%;
  margin: 0px auto;
  padding: 0px auto;
  overflow-y:  visible;
  background-color: var(--base3);
}
#wrapper { /* Wrapper for all document elements */
  width: 1200px; /* Width of document is 1000 pixels */
  height: 100%; /* Height is long enough to hold all elements below. */
}
h1 {
  font-family: Arial,Helvetica,sans-serif;
  color: firebrick;
  margin: 5px;
}
.container { /* Containers centered within wrapper div */
  width: 100%;
  background-color: var(--base2);
  /* margin-left: 5px;
     margin-right: 5px; */
}
.floatRight {
  float: right;
}
.singleRowMenu {
  height: 125px;
}
/* Table styling. Tables serve as containers for buttons. */
table {
  width: 100%;
  table-layout: fixed; /* All buttons have same width */
}
tr {
  height: 60px;
}
td {
  padding: 3px; /* Space between buttons */
}
th {
  font-family: Arial,Helvetica,sans-serif;
  color: var(--red);
  margin: 5px;
  text-align: center;
}
.menuButton {
  width: 100%; /* Fill bounding <td> element. */
  height: 100%;
  font-family: 'trebuchet ms',helvetica,sans-serif;
  font-size: 150%;
  font-weight: bold;
}
.buttonOn { /* Active button. */
  color: var(--orange);
}
.buttonOff { /* Inactive button. */
  color: var(--blue);
}

/* Styling and layout for specific elements.  */
#compose { /* Compose text. */
  /* height: 400px; */
}
/* Utility elements at bottom of page. */
#io { /* Container for all io / utility elements. */
  position: relative;
  height: 600px;
}
/* Text buffer. Side-by-side with settings. */
#buffer { /* Layout. */
  position: absolute;
  float: left;
  width: 40%;
  height: 100%;
  color: black;
  font-size: 150%;
}
#bufferText { /* Text element. */
  top: 0;
  margin-top: 0%;
  margin-right: 5%;
}
/* Settings. Holds the camera, clock, slider, and reset button. Side-by-side
   with text. */
#settings {
  position: relative;
  float: right;
  width: 60%;
  height: 100%;
}
/* Camera. Above the rest of the settings elements. */
#camContainer { /* Layout. */
  height: 50%;
  text-align: center;
}
.cam { /* Camera feed. */
  float: right;
  width: 160px;
  height: 120px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--base01);
  border-radius: 10px;
}
#camContainer select {
  text-align: center;
}
#camContainer input {
  text-align: center;
}
/* Sub-settings. The clock, slider, and reset. Below the camera. */
#subSettings {
  height: 50%;
}
/* The clock. */
#clockContainer {
  height: 25%;
  width: 100%;
  color: royalblue;
  font-family: 'trebuchet ms',helvetica,sans-serif;
  font-size: 150%;
  font-weight: bold;
}
/* Controls. Below the clock. */
#controls {
  height: 100%;
  width: 100%;
}
#emailSettings {
  float: right;
  width: 50%;
  height: 100%;
}
#generalSettings {
  /* position: absolute; */
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}
/* Slider. On the left. */
#sliderContainer { /* Layout */
  left: 0%;
  width: 50%;
  height: 25%
}
#slider { /* The slider itself */
  width: 100%;
}
#sliderValue { /* Its value. */
  color: gray;
  font-family: 'trebuchet ms',helvetica,sans-serif;
  font-weight: bold;
}
/* Reset button. On the right. */
#buttonContainer { /* Layout. */
  position: absolute;
  top: 25%;
  width: 100%;
  height: 75%;
}
#buttonContainer td {
  padding: 3px; /* Space between buttons */
  height: 45px;
}
.settingsButton { /* The button. */
  color: red;
  border-color: ghostwhite;
  background-color: ghostwhite;
  width: 100%; /* Fill bounding <td> element. */
  height: 100%;
  font-family: 'trebuchet ms',helvetica,sans-serif;
  font-size: 100%;
}
.border { /* Camera feed. */
  border-style: solid;
  border-color: var(--base0);
  border-radius: 10px;
  border-width: 1px;
  padding: 5px;
  margin: 10px;
}
.invisibleBorder {
  padding: 0px;
  margin: 10px;
}
.fooBorder {
  border-style: solid;
  border-color: var(--base0);
  border-radius: 10px;
  border-width: 1px;
  padding: 0px;
  margin: 0px;
}
